-gallery_images = ["club-sandwich.jpg","papas.jpg","hamburger.jpg","panini.jpg"]
!!!5
%html{class: "no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title La mejor comida de Cancún
		%meta{name:"description", content:"Come rico en el mejor restautarante de la ciudad, servicio de primera"}
		%meta{name: "viewport", content:"width=device-width, initial-scale=1"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Dancing+Script"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]"
		%p{class:"browserupgrade"}
			Estás usando un navegador
			%strong desactualizado
			Por favor
			%a{href:"http://browserhappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.video-container
			%video{autoplay:true, loop:true, width:"1280", height:"720",poster:"videos/images/bbq.jpg"}
				%source{src:"videos/mp4/bbq.mp4" ,typ:"video/mp4"}
				%source{src:"videos/webm/bbq.webm",typ:"video/webm"}
		.row.full-height.middle-xs.center-xs.relative.up#home
			.col-xs-12
				.box.white-text
					%img{src:"imgs/logo.png", width:200}
					%h1.dancing-script.title.no-margin Restaurante 100% Méxicano
					%p#is-open
						%i.glyphicon.glyphicon-time
						%span.text Abierto ahora 
			%nav.fixed.top.right.navigation.white-text#navigation
				-menu = [{title:"Home",link:"#home"}, {title:"Menú",link:"#menu"}, {title:"Galeria",link:"#gallery"}, {title:"Contácto",link:"#contact"},  {title:"Cómo llegar",link:"#location"}]
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{href:item[:link]}= item[:title]
			.relative.black.large-padding.white-text.full-width.center-xs#description
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium
						Atención cálida y comida preparada por artistas
					.col-xs.hidden#sticky-navigation
						.box
							%nav.text-right.navigation#responsive-nav
								%i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle.glyphicon-remove#menu-opener
								%ul.list-inline
									-menu.each do |item|
										%li
											%a.menu-link{href:item[:link]}= item[:title]

		.text-center.relative#menu
			.absolute.white#menu-title
				%h2.dancing-script.title Menú
			-menu_photos = [{name: "Club Sandwich", pricing: "10.00", image:"club-sandwich"},{name: "Combo hamburguesa", pricing: "50.00", image:"combo"},{name: "Hamburguesa", pricing: "30.00", image:"hamburger"},{name: "Hot cakes", pricing: "20.00", image:"hot-cakes"},{name: "Panini", pricing: "20.00", image:"panini"},{name: "Papas", pricing: "20.00", image:"papas"},{name: "Club Sandwich", pricing: "10.00", image:"club-sandwich"},{name: "Hamburguesa", pricing: "30.00", image:"hamburger"}]

			.row
				-menu_photos.each do |photo|
					.col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(imgs/food/#{photo[:image]}-thumb.jpg)"}
						.screen
							.row.middle-xs.full-height
								.col-xs-12.dancing-script.white-text.text-center
									%h3.subtitle= photo[:name]
									%p.no-margin= photo[:pricing] + "  " +"USD"
		#gallery.relative
			.inner
				-gallery_images.each do |image|
					.image{style:"background-image:url(imgs/food/#{image})"}
		.container
			.card.white.black-text.slim.relative
				%h3.slim.text-center
					En nuestro
					%strong.dancing-script.medium Restautante 
					cocinar no es una profesión, no es una técnica, es un 
					%strong.dancing-script.medium arte
				%p.top-space.text-justify.back
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					%strong.dancing-script.medium Coco - chef
		.top-space-2.black.big-padding.white-text.full-height#contact
			.row.middle-xs.center-xs.full-height
				.col-xs-12
					.box
						%p.text-center.medium#info-contacto Presiona enter para llenar el campo correspondiente y enviarnos un correo
						%form.step-form.step-form{action:"https://formspree.io/rodolfo.kuman@hotmail.com",method:"POST",id:"contact-form"}
							.row.center-xs.full-height
								.col-xs-12.col-sm-2.col-md-1.first-sm
									.box
										-3.times do |i|
											-if i == 0
												.path-step.active
											-else
												.path-step	
								.col-xs-12.col-sm-6.first-xs
									.box
										%fieldset.step.active
											%input{type:"email",name:"email",placeholder:"Correo electrónico",class:"input",required:true}
										%fieldset.step
											%input{type:"text",name:"name",placeholder:"Nombre",class:"input",required:true}
										%fieldset.step
											%textarea{name:"body",placeholder:"Mensaje",class:"input",required:true}
											%div
												%button{type:"submit",class:"btn"}
													Enviar
		#location
			#map
			#message.black.large-padding.white-text.text-center.medium
				



		%script{src:"https://code.jquery.com/jquery-3.0.0.min.js",integrity:"sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=", crossorigin:"anonymous"} 
		:javascript
			window.jQuery || document.write("<script src='js/vendor/jquery-1.12.0.min.js'><\/script>");
		%script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyAlJLfUwfwZltUnxLRQcbPg7yvDrZalqH4"}
		%script{src:"dist/maps.js"}	
		%script{src:"dist/form_object.js"}
		%script{src:"dist/step.js"}
		%script{src:"dist/main.js"}
		
